@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

html {
	background-color: rgb(251, 201, 215);
}

body {
	text-align: center;
}

button {
	background-color: rgb(201, 215, 251);
}




